<!doctype html5>
<html>
  <head>
    <meta charset="utf-8">
    <title>BitMelon Journal</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous"/>    
    <link rel="stylesheet" href="/static/css/styles.css">
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
    <script src="https://unpkg.com/react@16/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
    <script src="https://unpkg.com/react-router-dom@5.2.0/umd/react-router-dom.js"></script>
  </head>
  <body>
    <div id="root">
      <p>
        If you see this, you probably forgot to import a
        <code>&lt;script&gt;</code> tag somewhere.
      </p>
    </div>
    <script type="text/jsx" src="/static/js/journalentry.jsx"></script>
    <script type="text/jsx" src="/static/js/uiComponents.jsx"></script>
    <script type="text/jsx" src="/static/js/app.jsx"></script>
  </body>
</html>